extends layout

block content

  h1 Category: #{title}

  div(style='margin-left:20px;margin-top:20px')

    h4 Products
    if products.length
      ul
        each product in products
          li
            a(href=product.url) #{product.name}
            p $#{product.price}
    else
      p This category has no products.
    hr
    p
      a(href=category.url+'/delete') Delete category
    p
      a(href=category.url+'/update') Update category
