extends layout

block content
  p #[strong Do you really want to delete this Product?]

  div(style='margin-left:20px;margin-top:20px')
    img(src=product.img_url alt='product_image' style='width:100px; height:100px;')
    p Category: #{product.category.name}
    p Description: #{product.description}
    p Price: $#{product.price}
    p Amount in Stock: #{product.stock}

  form(method='POST')
    div.form-group
      input#id.form-control(type='hidden',name='id', value=product._id )

    button.btn.btn-primary(type='submit') Delete